.section_1{
position: relative;
width: 20%;
background-color: aquamarine;
border: 1px solid red;
height: 90vh;

}
.section_2{
    position: relative;
    width: 80%;
}
.wrapper{
    position: relative;
    display: flex;
}