.footer {
  margin-top: 0px;
  padding: 15px 30px;
  background: transparent;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  position: relative;
  bottom: 0px;
  width: inherit;
}

.footer p {
  margin: 0;
}
